body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: url(background.png) repeat center center;
}

a {

  text-decoration: none;
  color: white;
}

a:hover {

  color: black;
  text-decoration: underline;
}

#bok-button {
    transition: all .2s ease-in-out;
}

#bok-button:hover {
  transform: scale(1.1);
}

#bok-button:active {
  transform: scale(0.9);
}


header {
  background-color: white;
  text-align: center;
}

header img {
  height: 200px;
  width: 200px;
}

.nav-bar-container {
  text-align: center;
}

.select-container {
  display: inline-block;
  align-self: center;
  margin-top: 0px;
  width: auto;
  text-align: center;
  border-top: 1px solid #2C2A2B;
  border-bottom: 1px solid #2C2A2B;
  padding: 10px;
  background-color: white;
}

#page-select-option {
  padding: 50px;
  color: #2C2A2B;
}

.new-container {
  text-align: center;
}

.name-container {
  display: inline-block;
  margin: 40px;
  text-align: center;
  box-shadow: 4px 4px 8px;
  width: 80%;
}

.name-container-h {
  display: inline-block;
  margin: 40px;
  text-align: center;
  box-shadow: 4px 4px 8px;
  width: 80%;
  background: url(background.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.my-name {
  font-size: 50px;
}

.info-container {
  width: 50%;
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  box-shadow: 4px 4px 8px;
  margin-bottom: 50px;
}

#code-type h2 {
  margin-top: 0px;
  padding: 10px;
  background-color: #2C2A2B;
  box-shadow: none;
}

#code-name {
  color: white;
}

.info-container-c {
  display: grid;
  grid-template-columns: auto auto auto;

  padding: 10px;
}

.grid-item {
  padding: 15px;
  border: 1px solid #2C2A2B;
  margin: 10px;
  background-color: #2C2A2B;
  border-radius: 5px;

}

.grid-item:hover {
  background-color: white;
}

.name-container h3 {
  font-size: 30px;
  margin: 0px;
}
.game-container {
  display: inline-block;
  text-align: center;
  width: 92%;
  height: 504px;
  margin-bottom: 50px;
  padding: 0px;
}

.game {
  border: 1px solid #2C2A2B;
  box-shadow: 4px 4px 8px;
  width: 75%;
  height: 75%;
}

.name-container-f {
  display: inline-block;
  margin: 40px;

  width: 40%;
}

.form-container {
  width: 90%;
  display: inline-block;
  text-align: center;

  padding: 10px;
}

.form-input {
  padding: 8px;
  width: 91%;
  margin-bottom: 12px;
  border: 1px solid #2C2A2B;
}

textarea {
  padding: 9px;
  width: 90.5%;
  margin-bottom: 12px;
  border: 1px solid #2C2A2B;
  height: 100px;
}

button {
  width: 50%;
  padding: 15px;
  border: 1px solid #2C2A2B;
  background-color: #2C2A2B;
  border-radius: 5px;
  color: white;

}

button:hover {
  color: #2C2A2B;
  background-color: white;
}

#undead {
  width: 1920px;
  height: 1080px;
}
