body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #f67811;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: white;
  text-align: center;
}

header img {
  height: 200px;
  width: 200px;
}

.nav-bar-container {
  text-align: center;
}

.select-container {
  display: inline-block;
  align-self: center;
  margin-top: 0px;
  width: auto;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
  background-color: white;
}

#page-select-option {
  padding: 50px;
  color: black;
}

.new-container {
  text-align: center;
}

.name-container {
  display: inline-block;
  margin: 40px;
  text-align: center;
  box-shadow: 4px 4px 8px;
  width: 80%;
}

.my-name {
  font-size: 50px;
}

.info-container {
  width: 50%;
  display: inline-block;
}
